@use './custom'as *;

.theme-3 {
    background-color: $theme3-background;

    .calculator {

        .header {


            h1 {
                color: $theme3-Light-yellow
            }

            .theme {
                color: $theme3-Light-yellow;
            }

            .toggle-wrapper {


                .switch {
                    color: $theme3-Light-yellow;

                }

                .slider {
                    background-color: $theme3-toggle-background;

                    .circle {
                        background-color: $theme3-toggle-shadow;
                    }
                }

            }

        }

        .display {
            background-color: $theme3-toggle-background;

            .currentNumber {
                color: $theme3-Light-yellow;
            }

            .previous-flex {


                .previousNumber {
                    color: $theme3-Light-previous;
                }

                .operation {
                    color: $theme3-Light-previous;
                }
            }


        }


        .numberPad {
            background-color: $theme3-toggle-background;

            .pad {
                background-color: $theme3-violet-key-background;
                color: $theme3-Light-yellow;

                box-shadow: 0px 3px 0px $theme3-key-shadow, 0px 8px 20px $theme3-toggle-background;

                &:hover {
                    background-color: $theme3-key-background;
                }

                &:active {
                    box-shadow: none;
                }
            }

            .del {
                background-color: $theme3-key-background;
                box-shadow: 0px 3px 0px $theme3-key-shadow, 0px 8px 20px $theme3-toggle-background;

                &:hover {
                    background-color: $theme3-violet-key-background;
                }

                &:active {
                    box-shadow: none;
                }

            }

            .reset {
                background-color: $theme3-key-background;
                color: $White;
                box-shadow: 0px 3px 0px $theme3-key-shadow, 0px 8px 20px $theme3-toggle-background;

                &:hover {
                    background-color: $theme3-violet-key-background;
                }

                &:active {
                    box-shadow: none;
                }
            }

            .equals {
                background-color:  $theme3-key-toggle;
                color: $Very-dark-blue;
                box-shadow: 0px 3px 0px $theme3-toggle-shadow, 0px 8px 20px $theme3-toggle-background;

                &:hover {
                    background-color: $theme3-toggle-shadow;
                    box-shadow: 0px 3px 0px $theme3-key-toggle, 0px 8px 20px $theme3-toggle-background;
                }

                &:active {
                    box-shadow: none;
                }
            }
        }

    }
}
